<div class="container">
  <div class="row">

    <div class="col-md-6 col-md-offset-3">

      <div class="panel panel-primary panel-main">
        <div class="panel-body">
          <%= link_to t(:back), @topic %>
        </div>
        <div class="panel-body">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
