<div class="container">
  <div class="row">

    <div class="col-md-8">

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default panel-main">

            <% if current_user.is_admin %>
            <div class="panel-body text-right">
              <%= link_to t(:new_topic), new_topic_path %>
            </div>
            <% end %>

            <%= render 'index' %>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
