<div class="container">
  <div class="row">

    <div class="col-md-6 col-md-offset-3">

      <div class="panel panel-primary panel-main">

        <div class="panel-body">
          <% if @topic.parent_id == 0 %>
          <%= link_to 'Back', topics_path %>
          <% else %>
          <%= link_to 'Back', topic_path(@topic.parent_id) %>
          <% end %>
        </div>

        <div class="panel-body text-center">
          <h3><%= t(:new_topic) %></h3>
        </div>

        <div class="panel-body">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
