html.turbolinks-progress-bar::before {
  background-color: #0ce3ac !important;
  height: 2px !important;
}

img.carousel {
  width: 100%;
}

body { padding-top: 60px; }


.panel-center {
  margin-top: 100px;
  margin-bottom: 100px;
}

.panel-main {
  margin-top: 20px;
}

.text-white {
  color: white;
}

div.panel-body img {
  max-width: 50%;
}

img {
  max-width: 100%;
}

.atwho-view .cur {
  background: #2c3e50;
  color: white;
}

span#events-badge {
  background-color: white;
  color: #2C3E50;
}
