html.turbolinks-progress-bar::before {
  background-color: #0ce3ac !important;
  height: 2px !important;
}

img.carousel {
  width: 100%;
}

body { padding-top: 60px; }


.panel-center {
  margin-top: 100px;
  margin-bottom: 100px;
}

.panel-main {
  margin-top: 20px;
}

.text-white {
  color: white;
}
