<div class="container-fluid">
  <div class="row text-center">
    <p>
      <small>Copyright 2015 IslandZero</small>&nbsp;<small><a href="mailto:hi@yanke.io">hi@yanke.io</a></small>
      <br/>
      <small>Powered By <%= link_to 'Ruby on Rails', 'http://rubyonrails.org' %> | Themed By <%= link_to 'Bootswatch', 'http://bootswatch.com' %></small>
      <br/>
      <small>Links: <%= link_to "Github Repo", 'https://github.com/yanke-guo/IslandZero.git' %> | <%= link_to "YANKE.IO", 'http://yanke.io' %></small>
    </p>
    <br/>
  </div>
</div>
