<div class="jumbotron">
  <div class="container">
    <h3 class="text-danger">
      警告：网站处于技术验证/开发阶段，当前任何数据都将会在未来某个特定时间抹除。
      <br/>
      WARNNING: This site is under development, all data will be wiped out someday in the future.
    </h3>
    <h1>MAGI::Systems</h1>
    <p><%= t(:magi_introduction) %></p>
    <% unless user_signed_in? %>
    <p>
      <%= link_to t(:login), new_user_session_path, class: 'btn btn-primary' %>
      <%= link_to t(:register), new_user_registration_path, class: 'btn btn-success' %>
    </p>
    <% end %>
  </div>
</div>
