<div class="jumbotron">
  <div class="container">
    <h1>IslandZero</h1>
    <p><%= t(:islandzero_introduction) %></p>
    <% unless user_signed_in? %>
    <p>
      <%= link_to t(:login), new_user_session_path, class: 'btn btn-primary' %>
      <%= link_to t(:register), new_user_registration_path, class: 'btn btn-success' %>
    </p>
    <% end %>
  </div>
</div>
