<div class="container">
  <div class="row">
    <div class="panel panel-primary chatbox">

      <div class="panel-body">
        <form class="form-inline" id="formMessage" role="form">
          <input type="text" class="form-control" id="chat-input-nickname" name="nickname" placeholder="Enter Nickname">
          <input type="text" class="form-control" id="chat-input-content" name="content" placeholder="Enter Content">
          <button id="buttonSend" type="submit" class="btn btn-primary"><%= t(:send) %></button>
        </form>
      </div>

      <ul class="list-group" id="listContent"></ul>
      <% @public_msgs.each do |msg| %>
      <li class="list-group-item"><%= msg.nickname %> : <%= msg.content %></li>
      <% end %>
    </div>
  </div>
</div>

<script>
ChatHelper.createPublicChatbox($("#formMessage"), $("#listContent"))
</script>
